.modal-content{
    background-color: white !important;
    margin-top: 20vh !important;
    padding: 0.25rem;
    margin-inline: 0.25rem;
    border-radius: 0.5rem !important;
    width: unset !important;
}
.modal-body{
    overflow:visible !important;
}